/* Глобальные */
.contact_detail_wrap{
    padding-top: 10px;
    padding-bottom: 10px;
}

table.table{
    table-layout: fixed;
    font-size: 10px;
    margin: 0 auto 50px auto;
}
@media screen and (min-width: 1300px){
    
    table.table{
        font-size: 12px;
        max-width: 1300px;
        margin: 0 auto 50px 0;
    }
}
 
table.table  a{
    color: #235bb5 !important;
}
table.table  a:hover{
    color: #235bb5 !important;
}
table.table  td,
table.table  th {
    text-align: center;
}


    /* вид отвецвенного  */
    tr td .autorObiect{
        display: flex;
        margin: 0;
    }
    tr td .autorObiect figcaption p {
        text-align: left;
        margin: 0 0 3px 20px;
        white-space: nowrap;
        font-size: 12px;
    }
    
    tr td .autorObiect img{
        transition: all 0.5s;
    }
    /* tr td .autorObiect:hover img{
        transform: rotateY(180deg);
    } */
    tr td .autorObiect figcaption .name{
        font-weight: 900;
    }
    tr td .autorObiect .mainFace a{
        display: block;
    }
    tr td .autorObiect .mainFace img{
        border-radius: 100%;
        width: 50px;
        object-fit: cover;
    }



/* Вид таблицы  ПРОДАЮ*/

.contact_detail_wrap .btn-outline-primary{
    margin: 10px 0;
    background: rgba(255,255,255,0.15);
    color: #777;
    border-color: #777;
    border: 1px solid #777;
    border-radius: 2px;
}

.contact_detail_wrap .btn-outline-primary:hover{
    background: rgba(208, 208, 208, 0.33);
    color: #777;
    cursor: default;
}

.contact_detail_wrap .btn-outline-primary:focus{
    outline: none;
    box-shadow: none;
}

.contact_detail_wrap .btn-outline-primary:active{

    background: transparent !important;
    border-color: #777 !important;
}
/* Таблица ЗАЯВКИ */


/* Вид заголовков */

.tableLeadWrap > table.table thead tr th:last-child{
    width: 250px;
}
.tableLeadWrap > table.table thead th.discriptionObiect{
    width: 150px;
}
table.table thead th.ID{
    width: 30px;
}
.tableLeadWrap > table.table thead th.discription{
    width: 220px;
}
table.table thead th.autorObiectTh{
    width: 250px;
}
.tableLeadWrap > table.table thead th.level{
    width: 48px;
}
.tableLeadWrap > table.table thead th.rooms{
    width: 55px;
    display: table-cell!important;
}
.tableLeadWrap > table.table thead th.price{
    width: 70px;
}
.tableLeadWrap > table.table thead th.priceM2{
    width: 55px;    
}
.tableLeadWrap > table.table thead th.perimetr{
    width: 90px;
}



/* Вид строк  */
 table.table tbody tr{
    transition: all 0.3s;
}
 table.table tbody tr:hover{
    background: #f0f0f0;
}

/* Вид ячеек */

table.table tr td{
    vertical-align: middle;
}
table.table tbody tr td{
    padding-left: 5px;
    padding-right: 5px;
}
.w100px{
    width: 100px;
}

.w70px{
    width: 70px;
}
.w150px{
    width: 150px;
}
.w125px{
    width: 125px !important;
}
.w250px{
    width: 250px;
}
.w300px{
    width: 300px;
}
b{
    font-weight: 900 !important;
}

.statusInWork{
    color: #ff9100
}
.statusCompleet{
    color: #070
}


/* Вид содержимого ячеек  */

    /* вид отвецвенного  */
    .tableLeadWrap > table.table .autorObiect{
        display: flex;
        margin: 0;
    }
    .tableLeadWrap > table.table .autorObiect figcaption p {
        text-align: left;
        margin: 0 0 3px 20px;
        white-space: nowrap;
        font-size: 12px;
    }
   
    
    .tableLeadWrap > table.table .autorObiect figcaption .name{
        font-weight: 900;
    }

    .tableLeadWrap > table.table .autorObiect .mainFace a{
        display: block;
    }
    .tableLeadWrap > table.table .autorObiect .mainFace img{
        border-radius: 100%;
        width: 50px;
        object-fit: cover;
    }



    /* Описание */
    .tableLeadWrap > table.table tbody tr td.discription--text{
        text-align: justify;
        padding: 5px 10px;
        font-size: 11px;
        line-height: 10px;
    }

    
    .tableLeadWrap > table.table tbody tr td.adress{
        text-align: justify;
    }
/* конец  Вид содержимого ячеек */


.mainName{
    white-space: nowrap;
    margin: 20px 0 !important;
    font-size: 20px;
}