.tableTel{
    table-layout: fixed;
    tr{
        padding: 0;
        td{
            padding: 0;
            &:first-child{
                width: 65px;
            }
            &:last-child{
                p{
                    margin: 2px 0;
                }
            }
        }
        
    }
}
.table-hover{
    tbody{
        tr:hover{
            background: #00000014;
        }
    }
}