.wrapBTN--center{
    display: flex;
}
.wrapBTN--SB{
    display: flex;
    justify-content: space-between;
}
.wrapBTN--fend{
    display: flex;
    justify-content: flex-end;
}
.wrapAppartament{
    border: 1px solid #9999998c;
    border: 1px solid #9999998c;
    padding: 10px;
    margin: 5px 0;
    footer{
        width: max-content;
        >p{
            max-width: 300px;
            display: flex;
            justify-content: space-between;
            *{
                margin: 0 15px;
                white-space: nowrap;
            }
        }
    }
}
.wrapAppartament-img{
    display: flex;
}
.wrapAppartament-btnGrop{
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
}
.wrapTabs{
    @media screen and (min-width: 767px){
        margin: -35px 0 0 0;
    }
    .nav-tabs{
        justify-content: flex-end;
    }
}
.wrap{
    padding-top: 10px;
    padding-bottom: 10px;
}
.sliderWrap{
    padding: 0 0 30px 0;
    border-bottom: 1px solid #a5a5a5;
}
.wrapInputBtn{
    input[type=number]{
        padding: 0 0 0 10px;
        font-size: 15px;
    }
}
.wrapMap{
    width: 100%;
    min-height: 600px;
    iframe{
        width: 100%;
        min-height: 600px;
    }
}

.hidden{
    width: 100%;
    overflow: auto;
}