.tableTel{
    table-layout: fixed;
    tr{
        padding: 0;
        td{
            padding: 0;
            &:first-child{
                width: 65px;
            }
            &:last-child{
                p{
                    margin: 2px 0;
                }
            }
        }
        
    }
}
.table-hover{
    tbody{
        tr:hover{
            background: #00000014;
        }
    }
}
.table-main-page{
    max-width: 370px;
    table-layout: fixed;
    color: #55595C;
    font-weight: 500;
    border-color: #9898981a;
    box-shadow: 0 4px 23px #E4E6E9;    
    margin: 10px 0;
    transition: all 0.3s;
    &:hover{
        box-shadow: 0 0  10px #E4E6E9;
    }
    thead{
        tr{
            td{
                border: none;
            }
        }
    }
    td{
        font-size: 14px;
    }
}
.tableObject{
    
    @media screen and (max-width: 1210px){
        margin: 0 auto;
    }
    max-width: 880px;
    table-layout: fixed;
    font-size: 12px;
    text-align: center;
    color: #4F4F4F;
    thead{
        tr{
            th{
                padding-left: 0;
                padding-right: 0;
                font-weight: 400;
                border-bottom: 0;
                border-top: 0;

                &:nth-child(1){// #
                    width: 20px;
                }   
                &:nth-child(2){ // menu
                    width: 20px;
                    a{
                        display: block;
                        text-align: center;
                        margin: 0 0 3px 0;
                        i{
                            margin: 0 auto;
                        }
                    }
                }   
                &:nth-child(3){ // рез
                    width: 31px;
                }   
                &:nth-child(4){ // Обьект
                    width: 77px;
                }   
                &:nth-child(5){ // Запрос
                    width: 218px;
                }   
                &:nth-child(6){ // площадь 
                    width: 77px;
                }   
                &:nth-child(7){ // Этаж
                    width: 48px;
                }   
                &:nth-child(8){ // Комнат
                    width: 45px;
                }   
                &:nth-child(9){ // Бюджет
                    width: 103px;
                }   
                &:nth-child(10){ // Расположение
                    width: 103px;
                }   
                &:nth-child(11){ // Ответственный
                    width: 130px;
                }   
            }
        }
    }
    tbody{
        tr{
            td{
                font-size: 10px;
                padding-left: 0;
                padding-right: 0;
                
                *{
                    font-size: 10px;
                }
                &:nth-child(1){ // номер

                }
                &:nth-child(2){ // меню
                    a{
                        display: block;
                        text-align: center;
                        margin: 0 0 3px 0;
                        i{
                            margin: 0 auto;
                        }
                    }
                }
                &:nth-child(3){ //  Рез
                    
                }
                &:nth-child(4){ // обьект 
                    padding-left: 5px;
                    padding-right: 5px;
                }
                &:nth-child(5){ // Запрос  
                    text-align: left;
                }
                &:nth-child(6){ // Площадь  
                    
                }
                &:nth-child(7){ // Этаж 
                    
                }
                &:nth-child(8){ // Комнат 
                    
                }
                &:nth-child(9){ // Бюджет 
                    
                }
                &:nth-child(10){ // Располжение 
                    
                }
                &:nth-child(11){ // Отвецвтенный
                    a{
                        text-decoration: underline;
                    }
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}

.tableObject--reqvest{
    @media screen and (max-width: 1210px){
        margin: 0 auto;
    }
    table-layout: fixed;
    max-width: 880px;
    font-size: 12px;
    text-align: center;
    color: #4F4F4F;
    text-align: center;
    line-height: 15px;
    *{
        line-height: 15px;
    }
    thead{
        tr{
            th{
                padding-left:  0;
                padding-right: 0;
                font-size: 12px;
                font-weight: 400;
                border-bottom: none;
                &:nth-child(1){ // чекбокс
                    width: 20px;
                }
                &:nth-child(2){ // номер
                    width: 22px;
                }
                &:nth-child(3){ // меню
                    width: 23px;
                    a{
                        display: block;
                        text-align: center;
                        margin: 0 0 3px 0;
                        i{
                            margin: 0 auto;
                        }
                    }
                }
                &:nth-child(4){ // п
                    width: 35px;
                }
                &:nth-child(5){ // описание
                    width: 240px;
                }
                &:nth-child(6){ // площадь
                    width: 86px;
                }
                &:nth-child(7){ // этаж
                    width: 53px;
                }
                &:nth-child(8){ // комнат
                    width: 50px;
                }
                &:nth-child(9){ //цена 
                    width: 87px;
                }
                &:nth-child(10){ // за м2
                    width: 87px;
                }
                &:nth-child(11){ // Ответственный
                    width: 143px;
                }
            }

        }
    }
    tbody{
        tr:hover{
            background: #bdbdbd2b;
        }
        tr{
            td{
                font-size: 10px;
                padding-left:  0;
                padding-right: 0;
                *{
                    font-size: 10px;
                }
                &:nth-child(3){
                    a{
                        display: block;
                        text-align: center;
                        margin: 0 0 3px 0;
                        i{
                            margin: 0 auto;
                        }
                    }
                }
            }
            
        }
        
    }
   
}
.tableObject--reqvest{
    @extend .tableObject--reqvest;
    thead{
        tr{
            th{
                padding-left:  0;
                padding-right: 0;
                font-size: 12px;
                font-weight: 400;
                border-bottom: none;
                &:nth-child(1){ // чекбокс
                    width: 20px;
                }
                &:nth-child(2){ // номер
                    width: 22px;
                }
                &:nth-child(3){ // меню
                    width: 23px;
                    a{
                        display: block;
                        text-align: center;
                        margin: 0 0 3px 0;
                        i{
                            margin: 0 auto;
                        }
                    }
                }
                &:nth-child(4){ // п
                    width: 55px;
                }
                &:nth-child(5){ // описание
                    width: 160px;
                }
                &:nth-child(6){ // площадь
                    width: 86px;
                }
                &:nth-child(7){ // этаж
                    width: 53px;
                }
                &:nth-child(8){ // комнат
                    width: 50px;
                }
                &:nth-child(9){ //цена 
                    width: 87px;
                }
                &:nth-child(10){ // за м2
                    width: 87px;
                }
                &:nth-child(11){ // Ответственный
                    width: 143px;
                }
            }

        }
    }
}
.table-stap{
    table-layout: fixed;
    padding: 0;
    border-top: none;
    vertical-align: middle;
    width: 100%;
    tbody{
        tr{
            td{
                &:first-child{
                    width: 150px;
                }
            }
            &.ynitaz{
                td{
                    &:first-child{

                    }
                    &:last-child{
                        input[type="number"]{
                            width: 55px;
                        }
                    }
                }
            }
            &.rooms{
                label{
                    height: 25px !important;
                    width: 40px !important;
                }
            }
            &.input--xs{
                input, select{
                    max-width: 72px;
                }
            }
        }
    }
}


/* ============ таблица ================= */
.tableDocs{
    min-width: auto !important;
}
.tableDocs tr{
    transition: all 0.4s;
}

.tableDocs tr:hover{
    background: #84848414;
}


/* ========== разное  ========= */

.noBorder tr td,
.noBorder tr th{
    border: none !important;
    border-top: none !important;
}
.toggleColorTD tr td{
    font-size: 12px;
}
.toggleColorTD tr td:first-child{
    color: #8a8a8a;
}

/* =======  Начало конец строительства ========== */
.startFinish > .row:first-child > div{
    background: #9c999933;
    height: 135px;
}
.startFinish .start .far,
.startFinish .finish .far{
    color: #3d91da;
    margin: 0 5px;
}
.startFinish .start,
.startFinish .finish{
    margin: 10px 0 5px 0;
}
.startFinish .start + .listStartFinish{
    padding: 0 0 0 5px;
}
.startFinish .start{
    text-align: left;
}

.startFinish .finish + .listStartFinish{
    padding: 0 0 0 0;
}
/* ================  СПиски начало/конец строительства   ==================== */

.listStartFinish{
    list-style: none;
    margin: 10px 0 0 0;
}
.listStartFinish li{
    margin: 5px 0;
}
.listStartFinish li p mark{
    background: none;
    color: #3187db;
}
.listStartFinish li p span{
    color: #777;
}

/* ==========  Planes  ============ */

.roomPlan{
    max-width: 150px;
}
.roomPlan img{
    max-width: 100%;
    transition:  all 0.3s;
    position: relative;
}
.roomPlan a{
    position: relative;
}
.roomPlan a:after{
    content: "";
    background:  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 485.213 485.213" style="enable-background:new 0 0 485.213 485.213;" xml:space="preserve"><g><g><path d="M471.882,407.567L360.567,296.243c-16.586,25.795-38.536,47.734-64.331,64.321l111.324,111.324    c17.772,17.768,46.587,17.768,64.321,0C489.654,454.149,489.654,425.334,471.882,407.567z" fill="#3d91da"/><path d="M363.909,181.955C363.909,81.473,282.44,0,181.956,0C81.474,0,0.001,81.473,0.001,181.955s81.473,181.951,181.955,181.951    C282.44,363.906,363.909,282.437,363.909,181.955z M181.956,318.416c-75.252,0-136.465-61.208-136.465-136.46    c0-75.252,61.213-136.465,136.465-136.465c75.25,0,136.468,61.213,136.468,136.465    C318.424,257.208,257.206,318.416,181.956,318.416z" fill="#3d91da"/><path d="M75.817,181.955h30.322c0-41.803,34.014-75.814,75.816-75.814V75.816C123.438,75.816,75.817,123.437,75.817,181.955z" fill="#3d91da"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>');
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -8px;
    left: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.3s;
}
.roomPlan a:hover:after{
    opacity: 0;
}
.roomPlan a:hover img{
    transform: scale(1.2);
}

.roomPlan img+svg{
    position: absolute;
    top: 47px;
    left: 31px;
}
.roomPlanWrap{
    display: flex;
    justify-content: space-between;
}
.roomPlan h5{
    text-align: center;
    margin: 0 0 2px 0;
}
.roomPlan h5 + p{
    color: #777;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
}

.roomPlan figcaption{
    margin: 15px 0 0 0;
}
.roomPlan figcaption p{
    text-align: center;
    margin: 0 0 3px 0;
}
.roomPlanTitele{
    margin: 30px 0 10px 0;
}


/* =================  Таблица (квартир в доме)  =========================== */
.tableApartaments{
    margin-top: 100px;
}
.tableApartaments thead tr{
    background: #adcfea47;
}
.tableApartaments thead tr th,
.tableApartaments tbody tr td{
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}

.tableApartaments  tr{
    transition: all 0.4s;
}
.tableApartaments tbody tr:hover{
    background: #84848414;
}
.TDwrapImg{
    padding: 0 !important;
}
.TDwrapImg > a{
    display: block;
    width: 50px;
    height: max-content;
    margin: 5px auto;

}

.TDwrapImg > a img{
    max-width: 100%;
}
.tableDoc tr td{
    padding: 0 10px;
    font-size: 1.2em;
}
.tableListObj{
    thead{
        tr{
            th{
                &:nth-child(5){
                    width: 215px;
                }

                &:nth-child(6){
                    width: 105px;                    
                }

                &:nth-child(7){
                    width: 60px;
                }

                &:nth-child(9){
                    width: 115px;
                }

                &:nth-child(10){
                    width: 110px;
                }

                &:nth-child(11){
                    width: 130px;
                }

            }
        }
    }
    tbody{
        tr{
            td{
                &:nth-child(5){
                    text-align: justify;
                }

            }
        }
    }
}